<div class="card border-dark mb-3">
    <div class="card-body text-dark">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">
            {{ todo.content }}
        </p>
    </div>
</div>
