---
layout: page
title: Community
---

<p>Il mondo del software libero da sempre orbita intorno al concetto di "<strong>community</strong>": community di sviluppo, community di sostegno, community di promozione... Ovviamente, anche il settore "scuola" ha le sue community, ciascuna dedicata ad un particolare aspetto.</p>
<p>In questa pagina sono enumerate le principali esistenti in Italia, coi relativi riferimenti. Vi invitiamo ad iscrivervi alle rispettive <strong>mailing list</strong> (se non hai mai utilizzato una mailing list, <a href="/come-usare-mailing-list">clicca qui per qualche consiglio</a>) per mettervi in contatto con il gruppo di maggiore interesse, ed iniziare a scambiare opinioni, segnalazioni, domande e risposte.</p>

<hr/>

<h3><img alt="Lavagna Libera" class="float-right" src="/assets/images/wiild.jpg">Lavagna Libera</h3>

<p>Incentrata su discussioni relative alla didattica digitale ed innovativa, principalmente usando strumenti libero ed opensource. Qui quotidianamente transitano segnalazioni di risorse didattiche, esperienze e testimonianze, sperimentazioni in classe, progetti di vario tipo, e richieste di aiuto per le più disparate problematiche tecniche.</p>
<p><strong>Consigliato a</strong>: insegnati di ogni grado e materia in cerca di nuovi spunti didattici (o che ne hanno da condividere!).</p>
<p><a class="btn btn-warning btn-lg" href="http://wiildos.it/">VISITA LA COMMUNITY</a></p>

<hr/>

<h3><img alt="So.Di.Linux" class="float-right" src="/assets/images/sodilinux.jpg">So.Di.Linux</h3>

<p>Community di riferimento per l'omonima distribuzione Linux dedicata alla scuola. Qui si può trovare supporto tecnico per la distribuzione stessa e per i vari programmi inclusi, ed è il contesto giusto per approfondire aspetti specifici come le applicazioni (libere e gratuite) per il supporto alle disabilità e l'utilizzo delle Lavagne Interattive Multimediali.</p>
<p><strong>Consigliato a</strong>: tecnici di laboratorio e docenti che usano molto il computer in classe.</p>
<p><a class="btn btn-warning btn-lg" href="http://sodilinux.itd.cnr.it/">VISITA LA COMMUNITY</a></p>

<hr/>

<h3><img alt="Porte Aperte sul Web" class="float-right" src="/assets/images/pasw.jpg">Porte Aperte sul Web</h3>

<p>Un gruppo di mutuo soccorso per affrontare gli oneri amministrativi e burocratici della scuola in modo "opensource". La community è frequentata da docenti e programmatori che cercano, sviluppano e condividono software e moduli per rendere più agevoli i flussi e le procedure interne, a partire dal sito web della scuola.</p>
<p><strong>Consigliato a</strong>: dirigenti scolastici, addetti alle segreterie, e programmatori che vogliono dare una mano.</p>
<p><a class="btn btn-warning btn-lg" href="http://www.porteapertesulweb.it/">VISITA LA COMMUNITY</a></p>

<hr/>

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h3>Per approfondire</h3>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="http://donazioni.linux.it/">http://donazioni.linux.it/</a>
				    <p>Piattaforma di crowdfunding su cui periodicamente vengono raccolti fondi da destinare allo sviluppo di applicazioni libere (soprattutto per la scuola).</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<h3>Ultime News</h3>
			</div>
			<ul class="list-group list-group-flush">
				{% for post in site.categories['community'] limit:3 %}
					<li class="list-group-item">
						<a href="{{ post.url }}">{{ post.title }}</a>
						<p>{{ post.excerpt }}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
